
input {
	cursor: pointer;
}
.color-red {
	color: red;
}

tr.child li {
	display: flex;
}
.img-preview {
    border: 0.3px solid grey;
    width: 50px;
    height: 50px;
}

.img-circle {
    border-radius: 50%;
}

.product-img-preview {
    border: 0.3px solid #c7c3c3 !important;
    width: 100% !important; 
    height: auto !important; 
    border-radius: 3px !important; 
}