
input {
	cursor: pointer;
}
.color-red {
	color: red;
}

tr.child li {
	display: flex;
}
.img-preview {
    border: 0.3px solid grey;
    width: 50px;
    height: 50px;
}

.img-circle {
    border-radius: 50%;
}

.product-img-preview {
    border: 0.3px solid #c7c3c3 !important;
    padding: 4px;
    border: 1px solid #eee; 
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    color: grey;
    width: 170px !important; 
    height: 170px !important; 
    object-fit: cover;
    border-radius: 3px !important; 
}

.bar-code-view {
    width: 200px;
    border: 1px solid #D8D8D8;
    padding: 15px;
    max-width: 100%;
    background: #FFFFFF;
}
.bar-code-view .printimg {
    cursor: pointer;
}
.my-class {
    height: 35px !important;
    font-weight: 20px !important;
}
.select2-container--bootstrap-5 .select2--small.select2-selection {
    min-height: calc(1.8em + 0.5rem + 2px) !important;
}
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, 
.select2-results__option--highlighted,
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
    background: #1f6bff !important;
    color: #FFF !important;
}
.select2-container--bootstrap-5 .select2-selection--single {
    background-image: url(http://localhost/retail/admin/assets/img/icon/dropdown-6.svg) !important;
    background-size: 20px 50px !important;
    /*background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e) !important;*/
}
/*.select2-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 35px !important;
}
.select2-selection__rendered {
    line-height: 2em !important;

}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background: #333 !important;
}
.select2-results__option .select2-results__option--selectable .select2-results__option--highlighted {
    background: #333 !important;
}*/
/*.select2-selection .select2-selection--single {

}*/
.product-upload-radio-btn-div{
    width: 20%;
}
.product-upload-img-div {
    width: 80%;
    /*padding: 0;*/
}
.image-parent-div {
    /*padding-right: 10px;*/
}
.barcode-div i {
    cursor: pointer;
}
tr td {
    vertical-align: middle;
}
@media (min-width: 1200px) and (max-width: 1700px) { 
    .main-row {
        width: 100% !important;
    }
}
@media only screen and (max-width: 425px) { 
    .product-upload-radio-btn-div{
        width: 20%;
    }
    .product-upload-img-div{
        width: 60%;
    }
}
/*.main-row {
    display: contents;
}*/